html, body {
    margin:0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}
a {
    color: white;
    text-decoration: none;
}
.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 16px 100px;
    
   
}
.left, .right {
    flex-basis: 0;
    flex-grow: 1;
    margin: 120px;
}
img {
    width: 60%;
    height: auto;
    border-radius: 2px;
    
}
.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}
.subtext {
    font-size: 18px;
    color:#E5E7EB;
    margin-bottom: 8px;
}
button {
    width: 100px;
    height: 32px;
    border-radius: 10px;
}
.hero {
    background-color: #3882F6;
    border: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box {
    height: 150px;
    width: 150px;
    border: 4px solid;
    border-color: #3882F6;
    border-radius: 10%;
    

}
.middle {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 100px;
}
h2 {
    text-align: center;
   font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 50px;

}
.middle div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 50px;
    margin-bottom: 50px;*/
    text-align: center;
    max-width: 150px;
    gap: 8px; 
}
.bottom {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 5;
    font-style: italic;
    padding: 150px 250px;
    
}
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin: 100px 250px;
    height: 140px;
    border-radius: 4px;
    color: #F9FAF8;
}
.bot {
    border: 2px solid;
    border-color: #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
}
footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px;;
}
.bottom p {
    text-align: right;
}
/*.page {
    display: flex;
    justify-content: space-around;
    
}
